<%- include('./pages/Header/header.ejs') %>

<% if (page === 'home') { %>
    <%- include('./pages/Home/home.ejs') %> 
<% } %>
 
<% if (page === 'register') { %>
 <%- include('./pages/Register/register.ejs') %> 
<% } %>

<% if (page === 'login') { %>
    <%- include('./pages/Login/login.ejs') %> 
<% } %>

<% if (page === 'createPlayer') { %>
 <%- include('./pages/Create/player.ejs') %> 
<% } %>

<% if (page === 'createTeam') { %>
    <%- include('./pages/Create/team.ejs') %> 
<% } %>

<% if (page === 'createForum') { %>
    <%- include('./pages/Create/forum.ejs') %> 
<% } %>

   
<% if (page === 'forums') { %>
    <%- include('./pages/Forums/forums.ejs') %> 
<% } %>

<% if (page === 'physical') { %>
    <%- include('./pages/Forums/pages/physical.ejs') %> 
<% } %>

<% if (page === 'digital') { %>
    <%- include('./pages/Forums/pages/digital.ejs') %> 
<% } %>

<% if (page === 'teams') { %>
    <%- include('./pages/Teams/teams.ejs') %> 
<% } %>

<% if (page === 'players') { %>
    <%- include('./pages/Players/players.ejs') %> 
<% } %>
<% if (page === 'player') { %>
    <%- include('./pages/Players/player.ejs') %> 
<% } %>

<% if (page === 'team') { %>
    <%- include('./pages/Teams/team.ejs') %> 
<% } %>

<%- include('./pages/Footer/footer.ejs') %>


<form action="/" method="post">
    <input type="file" name="image" id="image">
    <input type="submit" value="okokokokok">
</form>